* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 48rem;
  margin: 0 auto;
  padding: 0 2rem;
  height: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.725;
  text-rendering: geometricPrecision;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1D1F21;
  color: #c9cacc;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0;
  width: 100%;
  color: #666;
  vertical-align: top;
  text-align: center;
  font-size: 11px;
}

ul {
  list-style: none;
}

h1 {
  display: block;
  color: #2bbc8a;
  letter-spacing: 0.01em;
  font-size: 21px;
  font-weight: 700;
  font-style: normal;
}

a {
  position: relative;
  color: #c9cacc;
  font-weight: 400;
  text-decoration: none;
}

a h3 {
  font-weight: 400;
  display: inline-block;
  border-bottom: 1px solid #c9cacc;
}

a h3::before {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 0%;
  height: 2px;
  background-color: #2bbc8a;
  transition: width 0.3s ease-in-out;
}

a h3:hover::before {
  width: 82.5%;
}

strong {
  color: #2bbc8a;
}

time {
  color: #666;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #212326;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2bbc8a;
}

::selection {
  color: #fff;
  background-color: #2bbc8a;
}
